/*
    ########################################
    GENERAL
    ########################################
*/
/*#region Global*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
  color: #FFFFFF;
  /* font-family: Quicksand,Helvetica,sans-serif; */
}

body{
  background-color: #1d1d1d;
}

section.body{
  /*background-color: #333333;*/
  width:90%;
  max-width:1200px;
  margin: 30px auto;
  padding: 50px 20px;
  /* text-align: center; */
  /* display: flex; */
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 8rem;    /* Footer height */
}

@media only screen and (max-width: 600px) {
  #content-wrap {
    padding-bottom: 16rem;    /* Footer height */
  }
}


section.textblock{
  display: block;
  padding-left: 40px;
  background-color: #333333;
  padding: 0px 10px;
  
}

b, strong {
  font-weight: 700;
}


/*#endregion*/
/*#region Chart*/

input.blacktext{
  color: #000;
}


footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #415464;
  border-color: #fff;
  border-style: solid;
  border-width: 2px 0px 0px 0px;
}

div.footer-menu{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

/*#endregion*/

/*
    ########################################
    NAVIGATION
    ########################################
*/
/*#region Containers*/

section.header{
  padding-top: 00px;
  padding-bottom: 00px;
  padding-left: 0px;
  padding-right: 0px;

  background-color: yellow;

  /* background-color: #415464; */
  border-color: #fff;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  display: flex;
  justify-content: center;
}

section.navigation_section{
  background-color: #333;
}

ul.navigation {
  display: flex;
  flex-wrap: wrap;
}
ul.fit {
width: fit-content;
  text-align: left;
}


/*#endregion*/
/*#region Banner*/

.center {
  width: 100%;
  object-fit:cover;
}



